extends layout

block content

    .welcome-container
        .welcome-header
            .welcome-logo
                .welcome-logo-text
                    p METADATING
                    p BOTIFY
        .welcome-button
            .welcome-button-text
                p Bitte wähle zwei Bots aus:
        .welcome-bot-container
                each bot_basic in bots_list
                    .boxlenght.klick
                        h5 #{bot_basic.name}
                        p #{bot_basic.description}
                        img(src="/images/bot_profile_picture/optimized_bot_images/" + bot_basic.image_path + ".png", height="100" width="100", alt="no picture")
                    
                else
                    p doesnt work                       
    
                   


