extends layout

block content

    .chat
        .chat-header
        #messages
        .chat-input
            form(action="")
                input#m(autocomplete="off" placeholder="Verfasse eine Nachricht...")
                button klick 
                input#stop(type="button" value="STOP!")
    
