doctype html
html
  head
    title title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")
    script(src='/javascripts/select_click.js')
    script(src='/javascripts/socketClient.js')
    script(src='/lottie-animation/lottie.js', type="text/javascript")
    script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')
    link(rel='stylesheet', href='/stylesheets/chat.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Roboto")

  body
    .chat
        .chat-header
            .chat-logo
                .chat-logo-text
                    p METADATING
                    p BOTIFY
        .chat-button
            .chat-button-text
                p STOP  
        .chat-bots-show
        .left-right-bot
                .left
                    .left-img
                        img(src="/images/bot_profile_picture/optimized_bot_images/" + bot2ImgPath + ".png", alt="no picture")
                    .left-name    
                        p= bot2Name
                .right
                    .right-name  
                        p= bot1Name
                    .right-img    
                        img(src="/images/bot_profile_picture/optimized_bot_images/" + bot1ImgPath + ".png", alt="no picture")
        #messages


    
