extends layout

block content

    p.text-center= title

    .chat
        .chat-box
    
    .chat-user
        form.form-inline#form-chat(action="")
            .form-group
                input.form-control#username(type="text", name="username", value="", placeholder="Dein Name")
            .form-group
                input.form-control#text-chat(type="text", name="textchat", value="", placeholder="msg", autofocus)
            button.btn.btn-default(type="submit", name="button", ) Send             
                